<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:lang="http://www.springframework.org/schema/lang" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<context:property-placeholder order="0"
		location="classpath:/content/czelink/usermgmt/security/ldap.properties" />

	<security:http xmlns="http://www.springframework.org/schema/security"
		use-expressions="true" auto-config="false"
		entry-point-ref="authenticationProcessingFilterEntryPoint">
		<custom-filter position="FORM_LOGIN_FILTER" ref="authenticationFilter" />
		<intercept-url pattern="/index.html" access="permitAll" />
		<intercept-url pattern="/resources/**" access="permitAll" />
		<intercept-url pattern="/app/navigationList" access="permitAll" />
		<intercept-url pattern="/usermgmt/login" access="permitAll" />
		<intercept-url pattern="/usermgmt/register" access="permitAll" />
		<intercept-url pattern="/usermgmt/logout" access="permitAll" />
		<intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
	</security:http>

	<bean id="authenticationProcessingFilterEntryPoint"
		class="com.czelink.usermgmt.security.entrypoints.AjaxAuthenticationEntryPoint" />

	<bean id="authenticationFilter"
		class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
		<property name="authenticationManager" ref="authenticationManager" />
		<property name="filterProcessesUrl" value="/usermgmt/login" />
		<property name="usernameParameter" value="username" />
		<property name="passwordParameter" value="password" />
		<property name="authenticationFailureHandler" ref="authFailureHandler" />
		<property name="authenticationSuccessHandler" ref="authSuccessHandler" />
	</bean>

	<bean id="authFailureHandler"
		class="com.czelink.usermgmt.security.handlers.AjaxAuthenticationFailureHandler" />

	<bean id="authSuccessHandler"
		class="com.czelink.usermgmt.security.handlers.AjaxAuthenticationSuccessHandler" />

	<security:authentication-manager alias="authenticationManager"
		xmlns="http://www.springframework.org/schema/security">
		<ldap-authentication-provider server-ref="ldapServer"
			user-dn-pattern="${ldap.userDnPattern}" user-search-filter="${ldap.userSearchFilter}"
			group-search-base="${ldap.groupSearchBase}" group-search-filter="${ldap.groupSearchFilter}"
			group-role-attribute="cn" role-prefix="${ldap.rolePrefix}"
			user-details-class="inetOrgPerson">
		</ldap-authentication-provider>
	</security:authentication-manager>

	<security:ldap-server xmlns="http://www.springframework.org/schema/security"
		id="ldapServer" url="${ldap.url}" manager-dn="${ldap.managerDN}"
		manager-password="${ldap.managerPassword}" />

</beans>
