<div id="home_content">
	<div class="container">
		<div class="row">
			<div class="span4">
				<div widget="latestinfo"></div>
			</div>
			<div class="span4">
				<div class="panel">
					<h3>热门博客</h3>
					<hr class="panel-hr">
					<div>
						<ul>
							<li>调整心态战挫折 接受信心迎挑战</li>
							<li>梦</li>
							<li>免费的经营模式</li>
							<li>风投的“择偶”标准</li>
							<li>好的财经博客文章</li>
							<li>巨变下的机遇与价值创造</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="panel">
					<h3>热门微博</h3>
					<hr class="panel-hr">
					<div>
						<ul>
							<li>调整心态战挫折 接受信心迎挑战</li>
							<li>梦</li>
							<li>免费的经营模式</li>
							<li>风投的“择偶”标准</li>
							<li>好的财经博客文章</li>
							<li>巨变下的机遇与价值创造</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="panel">
					<h3>招聘信息</h3>
					<hr class="panel-hr">
					<div>
						<ul>
							财智网
							<li>大客户经理</li>
						</ul>
						<ul>
							财智网
							<li>活动策划经理</li>
						</ul>
						<ul>
							财智网
							<li>简直课程开发</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="panel">
					<h3>商学院</h3>
					<hr class="panel-hr">
					<div>
						<ul>财智品牌活动
						</ul>
						<ul>财智名家讲坛
						</ul>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="panel">
					<h3>社区</h3>
					<hr class="panel-hr">
					<div>
						<ul>财智网人才招聘
						</ul>
						<ul>财智网人才招聘
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>