<?xml version="1.0" encoding="UTF-8"?>
<beans profile="spring.integration.jms" xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-jms="http://www.springframework.org/schema/integration/jms"
	xmlns:int-stream="http://www.springframework.org/schema/integration/stream"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-2.2.xsd
		http://www.springframework.org/schema/integration/jms http://www.springframework.org/schema/integration/jms/spring-integration-jms-2.2.xsd
		http://www.springframework.org/schema/integration/stream http://www.springframework.org/schema/integration/stream/spring-integration-stream-2.2.xsd">

	<import resource="classpath:*/spring/czelink/intg/server.xml" />

	<bean id="remoteServerServiceActivator" class="com.czelink.dbaccess.activator.RemoteServiceActivator">
		<property name="dbAccessServiceRegistry" ref="dbAccessServiceRegistry" />
	</bean>

</beans>
