<div class="container" ng-mousemove="fontEditStart();"
	ng-mouseup="fontEditStart();selectParagraph(-1, $event)">
	<div class="row">
		<div class="span3">
			<div class="panel">
				<h3>工具栏</h3>
				<hr class="panel-hr">
				<table class="table table-bordered table-hover">
					<tbody>
						<tr>
							<td style="text-align: center;">
								<button class="btn btn-info"
									ng-class="{disabled : isInsertParagraphDisabled}" type="button"
									ng-click="insertNewParagraph()">
									<span>新段落({{restParagraphNum}})</span><i
										class="icon-leaf icon-white pull-right"></i>
								</button>
							</td>
							<td style="text-align: center;">
								<button ng-class="{disabled: isInsertPicDisabled}"
									ng-click="insertNewPicture()" class="btn btn-info"
									type="button">
									<span>新图片({{restPicNum}})</span><i
										class="icon-picture icon-white pull-right"></i>
								</button>
							</td>
						</tr>
						<tr ng-class="{'hidden' : !fontEditStart()}">
							<td style="text-align: center;">
								<button class="btn btn-info" type="button" ng-click="italic()">
									<span>斜体</span><i class="icon-italic icon-white pull-right"></i>
								</button>
							</td>
							<td style="text-align: center;">
								<button class="btn btn-info" type="button" ng-click="bold()">
									<span>加粗</span><i class="icon-bold icon-white pull-right"></i>
								</button>
							</td>
						</tr>
						<tr ng-class="{'hidden' : !fontEditStart()}">
							<td style="text-align: center;">
								<button underline-btn="true" class="btn btn-info" type="button"
									ng-click="underline()">
									<span>下划线</span><i class="icon-underline icon-white pull-right"></i>
								</button>
							</td>
							<td style="text-align: center;">
								<button linethrough-btn="true" class="btn btn-info"
									type="button" ng-click="lineThrough()">
									<span>删除线</span><i
										class="icon-strikethrough icon-white pull-right"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel">
				<h3>说明</h3>
				<hr class="panel-hr">
				说明文字在这里出现
			</div>
		</div>
		<div class="span9">
			<div class="panel">
				<h3>预览</h3>
				<hr class="panel-hr">
				<div class="preview">
					<h1 style="text-align: center;" ng-mouseenter="picInsertStatus()"
						ng-mouseleave="picInsertStatus()" ng-mouseup="picInsertStatus()">{{article.title.text}}</h1>
					<div class="articleContentArea"
						ng-mouseup="selectParagraph(-1, $event)">
						<div class="container">
							<div class="row" ng-show="displayTitlePicZone()">
								<p ng-init="initAbstractTitleImage()" class="dropzone span3"
									img-dropzone="abstract_title_image"></p>
								<div class="span3">
									<p style="margin-bottom: 10px;" dz-custom-message="error"
										class="alert alert-error" hidden="hidden">
										<button type="button" class="close">&times;</button>
										<span message></span>
									</p>
									<p style="margin-bottom: 10px;" dz-custom-message="success"
										class="alert alert-success" hidden="hidden">
										<button type="button" class="close">&times;</button>
										<span message></span>
									</p>
									<button class="btn btn-small btn-warning" type="button"
										ng-click="cancelTitlePicZone()">取消</button>
								</div>
							</div>
						</div>
						<div articleeditable="{{$index}}"
							ng-mouseenter="enterParagraph($index);picInsertStatus()"
							ng-mouseleave="leaveParagraph();picInsertStatus()"
							ng-mouseup="selectParagraph($index, $event);picInsertStatus()"
							ng-class="{'panel': checkOverParagrahIndex($index), 'panel-black': checkSelectPanel($index)}"
							ng-repeat="paragraph in initParagraphContent">
							<i ng-show="checkOverParagrahIndex($index)"
								ng-mouseenter="enterCross()" ng-mouseleave="leaveCross()"
								class="pull-right icon-remove-hover" ng-class="enterCrossClass"
								ng-click="removeParagraph($index)"></i><span>&nbsp</span>
							<hr ng-show="checkOverParagrahIndex($index)" class="panel-hr">
							<p contenteditable="true" ng-bind-html-unsafe="paragraph.text">{{paragraph.text}}</p>
							<div class="container">
								<div class="row" ng-show="displayParagraphPicZone($index)">
									<p ng-init="preProcessImageDropzone($index, paragraph)"
										ng-post-render="postProcessImageDropzone"
										class="dropzone span3"
										img-dropzone="{{paragraph.imgdesc.name}}"></p>
									<div class="span3">
										<p style="margin-bottom: 10px;" dz-custom-message="error"
											class="alert alert-error" hidden="hidden">
											<button type="button" class="close">&times;</button>
											<span message></span>
										</p>
										<p style="margin-bottom: 10px;" dz-custom-message="success"
											class="alert alert-success" hidden="hidden">
											<button type="button" class="close">&times;</button>
											<span message></span>
										</p>
										<button class="btn btn-small btn-warning" type="button"
											ng-click="cancelParagraphPicZone($index)">取消</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>