<div class="container">
	<div class="row">
		<div class="span3">
			<div class="panel">
				<h3>工具栏</h3>
				<hr class="panel-hr">
				<table class="table table-bordered table-hover">
					<tbody>
						<tr>
							<td style="text-align: center;">
								<button class="btn btn-info"
									ng-class="{disabled : isInsertParagraphDisabled}" type="button"
									ng-click="insertNewParagraph()">
									<span>新段落({{restParagraphNum}})</span><i
										class="icon-leaf icon-white pull-right"></i>
								</button>
							</td>
							<td style="text-align: center;">
								<button ng-class="{disabled: isInsertPicDisabled}"
									ng-click="insertNewPicture()" class="btn btn-info"
									type="button">
									<span>插入图片</span><i class="icon-picture icon-white pull-right"></i>
								</button>
							</td>
						</tr>
						<tr ng-class="{'hidden' : !fontEditStart()}">
							<td style="text-align: center;">
								<button class="btn btn-info" type="button" ng-click="italic()">
									<span>斜体</span><i class="icon-italic icon-white pull-right"></i>
								</button>
							</td>
							<td style="text-align: center;">
								<button class="btn btn-info" type="button" ng-click="bold()">
									<span>加粗</span><i class="icon-bold icon-white pull-right"></i>
								</button>
							</td>
						</tr>
						<tr ng-class="{'hidden' : !fontEditStart()}">
							<td style="text-align: center;">
								<button underline-btn="true" class="btn btn-info" type="button"
									ng-click="underline()">
									<span>下划线</span><i class="icon-underline icon-white pull-right"></i>
								</button>
							</td>
							<td style="text-align: center;">
								<button linethrough-btn="true" class="btn btn-info"
									type="button" ng-click="lineThrough()">
									<span>删除线</span><i
										class="icon-strikethrough icon-white pull-right"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="span9">
			<div ng-mouseleave="fontEditStart()" ng-mouseenter="fontEditStart()"
				ng-mouseup="fontEditStart()" class="panel">
				<h3>预览</h3>
				<hr class="panel-hr">
				<div class="preview">
					<h1 style="text-align: center;">{{article.title.text}}</h1>
					<div class="articleContentArea">
						<div articleeditable="{{$index}}"
							ng-repeat="paragraph in initParagraphContent" hidden="true">
							<p contenteditable="{{paragraph.contentEditable}}">{{paragraph.text}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>