<div class="container" ng-mousemove="fontEditStart();"
	ng-mouseup="fontEditStart();selectParagraph(-1, $event)">
	<div class="row">
		<div class="span9">
			<div class="panel">
				<h3>预览</h3>
				<hr class="panel-hr">
				<div class="preview">
					<h1 style="text-align: center;" ng-mouseenter="picInsertStatus()"
						ng-mouseleave="picInsertStatus()" ng-mouseup="picInsertStatus()">{{article.title.text}}</h1>
					<div class="articleContentArea"
						ng-mouseup="selectParagraph(-1, $event)">
						<div class="container">
							<div class="row" ng-show="displayTitlePicZone()">
								<p ng-init="initAbstractTitleImage()" class="dropzone span3"
									img-dropzone="abstract_title_image"></p>
								<div class="span3">
									<p style="margin-bottom: 10px;" dz-custom-message="error"
										class="alert alert-error" hidden="hidden">
										<button type="button" class="close">&times;</button>
										<span message></span>
									</p>
									<p style="margin-bottom: 10px;" dz-custom-message="success"
										class="alert alert-success" hidden="hidden">
										<button type="button" class="close">&times;</button>
										<span message></span>
									</p>
									<button class="btn btn-small btn-warning" type="button"
										ng-click="cancelTitlePicZone()">取消</button>
								</div>
							</div>
						</div>
						<div articleeditable="{{$index}}"
							ng-mouseenter="enterParagraph($index);picInsertStatus()"
							ng-mouseleave="leaveParagraph();picInsertStatus()"
							ng-mouseup="selectParagraph($index, $event);picInsertStatus()"
							ng-class="{'panel': checkOverParagrahIndex($index), 'panel-black': checkSelectPanel($index)}"
							ng-repeat="paragraph in initParagraphContent">
							<i ng-show="checkOverParagrahIndex($index)"
								ng-mouseenter="enterCross()" ng-mouseleave="leaveCross()"
								class="pull-right icon-remove-hover" ng-class="enterCrossClass"
								ng-click="removeParagraph($index)"></i><span>&nbsp</span>
							<hr ng-show="checkOverParagrahIndex($index)" class="panel-hr">
							<p contenteditable="true" ng-bind-html-unsafe="paragraph.text">{{paragraph.text}}</p>
							<div class="container">
								<div class="row" ng-show="displayParagraphPicZone($index)">
									<p ng-init="preProcessImageDropzone($index, paragraph)"
										ng-post-render="postProcessImageDropzone"
										class="dropzone span3"
										img-dropzone="{{paragraph.imgdesc.name}}"></p>
									<div class="span3">
										<p style="margin-bottom: 10px;" dz-custom-message="error"
											class="alert alert-error" hidden="hidden">
											<button type="button" class="close">&times;</button>
											<span message></span>
										</p>
										<p style="margin-bottom: 10px;" dz-custom-message="success"
											class="alert alert-success" hidden="hidden">
											<button type="button" class="close">&times;</button>
											<span message></span>
										</p>
										<button class="btn btn-small btn-warning" type="button"
											ng-click="cancelParagraphPicZone($index)">取消</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="panel">
				<h3>工具栏</h3>
				<hr class="panel-hr">
				<table class="table table-bordered table-hover">
					<tbody>
						<tr>
							<td style="text-align: center;">
								<button class="btn btn-info"
									ng-class="{disabled : isInsertParagraphDisabled}" type="button"
									ng-click="insertNewParagraph()">
									<span>新段落({{restParagraphNum}})</span><i
										class="icon-leaf icon-white pull-right"></i>
								</button>
							</td>
							<td style="text-align: center;">
								<button ng-class="{disabled: isInsertPicDisabled}"
									ng-click="insertNewPicture()" class="btn btn-info"
									type="button">
									<span>新图片({{restPicNum}})</span><i
										class="icon-picture icon-white pull-right"></i>
								</button>
							</td>
						</tr>
						<tr ng-class="{'hidden' : !fontEditStart()}">
							<td style="text-align: center;">
								<button class="btn btn-info" type="button" ng-click="italic()">
									<span>斜体</span><i class="icon-italic icon-white pull-right"></i>
								</button>
							</td>
							<td style="text-align: center;">
								<button class="btn btn-info" type="button" ng-click="bold()">
									<span>加粗</span><i class="icon-bold icon-white pull-right"></i>
								</button>
							</td>
						</tr>
						<tr ng-class="{'hidden' : !fontEditStart()}">
							<td style="text-align: center;">
								<button underline-btn="true" class="btn btn-info" type="button"
									ng-click="underline()">
									<span>下划线</span><i class="icon-underline icon-white pull-right"></i>
								</button>
							</td>
							<td style="text-align: center;">
								<button linethrough-btn="true" class="btn btn-info"
									type="button" ng-click="lineThrough()">
									<span>删除线</span><i
										class="icon-strikethrough icon-white pull-right"></i>
								</button>
							</td>
						</tr>
						<tr ng-class="{'hidden' : !fontEditStart()}">
							<td style="text-align: center;">
								<div class="btn-group">
									<a class="btn btn-info dropdown-toggle" data-toggle="dropdown"
										href="#" ng-click="initLinkStatus()"><i
										class="icon-link icon-white pull-left"></i>链接<span
										class="caret"></span> </a>
									<ul class="dropdown-menu custom-dropdown-menu"
										ng-post-render="registerToLinkManager">
										<li><button type="button" class="btn btn-success"
												ng-click="openCreateLinkModel()">新建</button></li>
										<li class="divider"></li>
									</ul>
								</div>
							</td>
							<td style="text-align: center;"></td>
						</tr>
					</tbody>
				</table>
				<table class="table table-bordered table-hover">
					<tbody>
						<tr>
							<td style="text-align: center;">
								<button class="btn btn-info" type="button"
									ng-click="cancelArticle()">
									<span>取消文章</span><i
										class="icon-exclamation-sign icon-white pull-right"></i>
								</button>
							</td>
							<td style="text-align: center;">
								<button ng-click="submitArticle()" class="btn btn-info"
									type="button">
									<span>提交文章</span><i class="icon-rocket icon-white pull-right"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel">
				<h3>说明</h3>
				<hr class="panel-hr">
				说明文字在这里出现
			</div>
		</div>
	</div>
	<div ng-post-render="registerModelToLinkManager"
		class="modal hide fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3 id="myModalLabel">创建新链接</h3>
		</div>
		<div class="modal-body">
			<form name="linkCreationForm" class="form-horizontal">
				<div class="alert alert-error alert-block"
					ng-show="checkIfLinkCreationInvalid()">
					<ul>
						<li ng-show="linkCreationForm.linkTitle.$error.required">请输入链接名称。</li>
						<li ng-show="linkCreationForm.linkUrl.$error.required">请输入链接地址(URL)。</li>
						<li ng-show="linkCreationForm.linkUrl.$error.url">链接地址(URL)格式错误。</li>
					</ul>
				</div>
				<div class="control-group">
					<label class="control-label" for="linkTitle">链接名称</label>
					<div class="controls">
						<input type="text" ng-model="linkTitle" name="linkTitle"
							id="linkTitle" placeholder="链接名称" required>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="linkUrl">链接地址(URL)</label>
					<div class="controls">
						<input type="url" ng-model="linkUrl" name="linkUrl" id="linkUrl"
							placeholder="链接地址(URL)" required>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="createLink()">确定</button>
		</div>
	</div>
	<!-- keep conversation model -->
	<div ng-post-render="registerKeepConversationModel"
		class="modal hide fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3 id="myModalLabel">温馨提示</h3>
		</div>
		<div class="modal-body">
			<p>
				会话将于{{conversationRemainTime}}秒后过期，点击<b>继续</b>保持会话，或者<b>取消</b>结束会话
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="keepConversation()">继续</button>
			<button class="btn btn-primary"
				ng-click="endConversationFromConfirm()">结束</button>
		</div>
	</div>
</div>