<div id="myCarousel" class="carousel slide">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1" class=""></li>
		<li data-target="#myCarousel" data-slide-to="2" class=""></li>
		<li data-target="#myCarousel" data-slide-to="3" class=""></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img src="resources/img/business-01.jpg" alt="">
			<div class="carousel-caption">
				<p>立体人脉网络 创造无限商机</p>
			</div>
		</div>
		<div class="item">
			<img src="resources/img/business-02.jpg" alt="">
			<div class="carousel-caption">
				<p>论坛、峰会、商务活动 拓展人脉关系</p>
			</div>
		</div>
		<div class="item">
			<img src="resources/img/business-03.jpg" alt="">
			<div class="carousel-caption">
				<p>微博、博客 才艺展示舞台</p>
			</div>
		</div>
		<div class="item">
			<img src="resources/img/business-04.jpg" alt="">
			<div class="carousel-caption">
				<p>圈子、商学院 创新价值的引爆点</p>
			</div>
		</div>
	</div>
</div>